<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layouts/plantilla :: header"/>
        <div class="contenido">
            <h1 th:text="#{articulo.titulo}">Listado de Articulos</h1>
            <a th:href="@{/articulo/nuevo}" th:text="#{articulo.nuevo}">Nuevo Articulo</a>
            <div th:if="${articulos != null and !articulos.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th th:text="#{articulo.descripcion}">Descripcion</th>
                            <th th:text="#{articulo.precio}">Precio</th>
                            <th th:text="#{articulo.existencias}">Existencias</th>
                            <th th:text="#{articulo.activo}">Activa</th>
                            <th th:text="#{accion.actualizar}">Actualizar</th>
                            <th th:text="#{accion.eliminar}">Eliminar</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="articulo : ${articulos}">
                            <td th:text="${articulo.descripcion}"></td>
                            <td th:text="${#numbers.formatDecimal(articulo.precio,3,2)}"></td>
                            <td th:text="${articulo.existencias}" style="text-align: center"></td>
                            <td><input type="checkbox" name="activo" th:checked="${articulo.activo}" disabled="true"/></td>
                            <td><a th:href="@{/articulo/modificar} + ${articulo.idArticulo}" th:text="#{accion.actualizar}">Modificar</a></td>
                            <td><a th:href="@{/articulo/eliminar} + ${articulo.idArticulo}" th:text="#{accion.eliminar}">Eliminar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${articulos == null or articulos.empty}" th:text="#{articulo.no_mostrar}">
                No tenemos lista que mostrar...

            </div>




            <footer th:replace="layouts/plantilla :: footer"/>
    </body>
</html>
